<section id="about">
    <div class="container-full">
        <div class="container">
            <div class="row bm-remove animate" data-anim-type="zoomInUp">
                <div class="about_content">
                    <div class="col-md-6">
                        <div class="imac">
                            <img src="img/imac.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="web_content">
                            <h1>Web & Mobile Landing Page</h1>
                            <h4>Simple & Elegant User Interface</h4>
                            <p>One morning, when Gregor Samsa woke from troubled dreams, he himself transformed in bed into a horrible vermin. He  his armour-back.</p>
                            <a class="btn btn-red" href="#">Download Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>