<section id="testimonial-clients">
    <!-- Start testimonial -->
    <div id="testimonial">
        <div class="container-full">
            <div class="container">
                <div class="row bm-remove animate" data-anim-type="fadeInLeft">
                    <div class="col-md-12">
                        <h1 class="text-center">“</h1>
                        <h2>“Good design is all about making other designers feel like
                            idiots because that idea wasn’t theirs.”</h2>
                        <div class="designer text-center">
                            <div class="clint">
                                <img src="img/frank_clint.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Frank Chimero</h3>
                                <p>Professional Designer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End testimonial -->

    <!-- Start clients -->
    <div id="clients">
        <div class="container-full">
            <div class="container">
                <div class="row sub_content bm-remove animate" data-anim-type="fadeInUpLarge">
                    <div class="col-md-12">
                        <div class="dividerHeading text-center">
                            <h2 class="section-title">Our Clients</h2>
                            <h3 class="section-subtitle">Voyez ce jeu exquis wallon</h3>
                        </div>
                    </div>
                    <div class="our_clients">
                        <ul class="client_items clearfix">
                            <li class="col-xs-6 col-sm-4 col-md-2"><a href="services.html" class="tt-themeforest"><span class="clent1"></span></a></li>
                            <li class="col-xs-6 col-sm-4 col-md-2"><a href="services.html" class="tt-envato"><span class="clent2"></span></a></li>
                            <li class="col-xs-6 col-sm-4 col-md-2"><a href="services.html" class="tt-activeden"><span class="clent3"></span></a></li>
                            <li class="col-xs-6 col-sm-4 col-md-2"><a href="services.html" class="tt-audioj"><span class="clent4"></span></a></li>
                            <li class="col-xs-6 col-sm-4 col-md-2"><a href="services.html" class="tt-graphicriver"><span class="clent5"></span></a></li>
                            <li class="col-xs-6 col-sm-4 col-md-2"><a href="services.html" class="tt-theme"><span class="clent6"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End clients -->
</section>