<footer id="footer-top">
    <div class="container-full">
        <div class="container">
            <div class="row bm-remove animate" data-anim-type="bounceIn">
                <div class="footer-text">
                    <h1>SO WHAT YOU THINK ?</h1>
                    <p>“Good design is all about making other designers feel like idiots because that idea<br />wasn’t theirs.”</p>
                    <a href="#contact" class="btn btn-red">Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</footer>