<script src="{{ "/js/vendor/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/plugins.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/animations.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollUp.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lightbox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/smoothscroll.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/visible.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.nav.js" | prepend: site.baseurl }}"></script>
