<!-- Header Section -->

<header id="masthead" class="masthead navbar navbar-default navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Site Logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav id="main-menu" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#main-slider">Home</a></li>
                <li><a href="{{ site.baseurl }}/member.html">Member</a></li>
                <li><a href="{{ site.baseurl }}/seminar.html">Seminar Blog</a></li>
                <li><a href="#">Project Blog</a></li>
                <li><a href="#">Tech Blog</a></li>
            </ul>
        </nav><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</header><!-- /#masthead -->

<!-- Header Section -->



<!-- Main Slider -->

<section id="main-slider" class="main-slider text-center">
    <div class="">
        <div class="">
            <img src="images/slider/1.jpg"/>
        </div><!-- /.head-overlay -->
        <div class="slider-text">
            <div class="slide-inner">
                <h2 class="slider-title"><strong>판교팟</strong>에 오신것을 환영합니다</h2>
                <p class="slide-description">판교지역 개발자 세미나 모임</p>
                <div class="slide-btn-container">
                    <a class="btn" href="http://goo.gl/forms/Jvoui4tcbBeQ3g6g1">함께하기</a>
                </div><!-- /.slide-btn-container -->
            </div><!-- /.slide-inner -->
        </div><!-- /.slider-text -->
    </div><!-- /.head-overlay -->
</section><!-- /#main-slider -->

<!-- Main Slider -->



<section id="introduce" class="portfolio text-center">
    <div class="portfolio-bottom">
        <div class="section-padding">
            <div class="section-top wow animated fadeInUp" data-wow-delay=".5s">
                <h2 class="section-title"><span>판교팟</span> 소개</h2><!-- /.section-title -->
                <p class="section-description">판교팟은 판교에서 일하는 개발자들의 자체적인 세미나 모임입니다.</p>
                <p class="section-description">20대 후반의 개발자들로 구성되어 있으며 자기계발을 좋아하는 사람들입니다.</p>
                <p class="section-description">저희는 서로 하고 싶은 세미나는 하고, 듣고 싶은 세미나는 요청합니다.</p>
            </div><!-- /.section-top -->

            <div class="latest-projects wow animated fadeInUp" data-wow-delay=".5s">
                <div class="itemFilter">
                    <a href="#" >재미</a>
                    <a href="#" >세미나</a>
                    <a href="#" >배움</a>
                    <a href="#" >가르침</a>
                    <a href="#" >토론문화</a>
                    <a href="#" >공유</a>
                </div> <!-- /.itemFilter -->
                <p class="section-description">저희는 위와 같은 키워드 아래 서로 즐기고 있습니다.</p>

            </div><!-- /.latest-projects -->



        </div><!-- /.section-padding -->
    </div><!-- /.portfolio-bottom -->
</section>

<!-- Service Section-->
<section id="services" class="services text-center">
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="section-top wow animated fadeInUp" data-wow-delay=".5s">
                    <h2 class="section-title">운영방식</h2>
                </div><!-- /.section-top -->

                <div class="section-details">
                    <div class="service-details">
                        <div class="col-md-3 col-sm-6">
                            <div class="item wow animated fadeInLeft" data-wow-delay=".5s">
                                <div class="item-icon">
                                    <i class="fa fa-calendar"></i>
                                </div><!-- /.item-icon -->
                                <div class="item-details">
                                    <h4 class="item-title">모임은 한달에 두번 </h4><!-- /.item-title -->
                                    <p class="item-description">
                                        2주차 / 4주차 일요일에 모입니다.</p>
                                    <p class="item-description" style="text-decoration:line-through">
                                        평일은 야근하잖아요<br>
                                        <br><br>
                                    </p><!-- /.item-description -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="item wow animated fadeInLeft" data-wow-delay=".35s">
                                <div class="item-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div><!-- /.item-icon -->
                                <div class="item-details">
                                    <h4 class="item-title">시간은 5시부터 9시</h4><!-- /.item-title -->
                                    <p class="item-description">
                                        1H : Ice Breaking<br>
                                        2H : Seminar<br>
                                        3H : Seminar<br>
                                        4H : Live Coding / Meet<br><br>
                                    </p><!-- /.item-description -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="item wow animated fadeInRight" data-wow-delay=".35s">
                                <div class="item-icon">
                                    <i class="fa fa-money"></i>
                                </div><!-- /.item-icon -->
                                <div class="item-details">
                                    <h4 class="item-title">회비는 월 4만원</h4><!-- /.item-title -->
                                    <p class="item-description">
                                        모임 공간을 빌리는 데 사용합니다.
                                    </p><!-- /.item-description -->
                                    <p class="item-description" style="text-decoration:line-through">
                                        남은 돈은 월말에 회식비에 보탭니다.<br>
                                        <br><br>
                                    </p>
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="item wow animated fadeInRight" data-wow-delay=".5s">
                                <div class="item-icon">
                                    <i class="fa fa-group"></i>
                                </div><!-- /.item-icon -->
                                <div class="item-details">
                                    <h4 class="item-title">토론문화</h4><!-- /.item-title -->
                                    <p class="item-description">
                                        서로 분야가 다른 개발자들이 모이다보니 하나의 주제로도 열띤 토론을 벌입니다.</p><!-- /.item-description -->
                                    <p class="item-description" style="text-decoration:line-through">
                                        싱글턴 하나로 4시간 토론했던건 잊을 수 없는 추억입니다
                                    </p>
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>

                    </div><!-- /.service-details -->
                </div><!-- /.section-details -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="container">
            <div class="row">
                <h1>
                    &nbsp;<br>


                </h1>

            </div>
        </div>
    </div><!-- /.section-padding -->
</section><!-- /#services -->

<!-- Service Section-->



<!-- Testimonials Section -->

<section id="testimonial" class="testimonial text-center" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
    <div class="pattern-overlay">
        <div class="section-padding">
            <div class="container">
                <div class="section-top wow animated fadeInUp" data-wow-delay=".5s">
                    <h2 class="section-title">VISION</h2><!-- /.section-title -->
                </div><!-- /.section-top -->
                <div class="section-top wow animated fadeInUp" data-wow-delay=".5s">
                    <div id="testimonial-slider" class="testimonial-slider carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonial-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonial-slider" data-slide-to="1"></li>
                            <li data-target="#testimonial-slider" data-slide-to="2"></li>
                            <li data-target="#testimonial-slider" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <blockquote class="client-quote">
                                    발표를 통해 교류하고 공유하는 문화를 경험하자
                                </blockquote><!-- /.client-quote -->
                            </div><!-- /.item -->
                            <div class="item">
                                <blockquote class="client-quote">
                                    각자 분야가 다른 개발자들이 모여서 서로의 인사이트를 공유하자
                                </blockquote><!-- /.client-quote -->
                            </div><!-- /.item -->
                            <div class="item">
                                <blockquote class="client-quote">
                                    사람이라면 가끔씩 하는 상상을 행동으로 옮기면서 즐거움을 찾자
                                </blockquote><!-- /.client-quote -->
                            </div><!-- /.item -->
                            <div class="item">
                                <blockquote class="client-quote">
                                    좋은 개발문화를 정착시켜 많은 사람들에게 공유함으로써 더 좋은 세상을 만들자
                                </blockquote><!-- /.client-quote -->
                            </div><!-- /.item -->
                        </div>
                    </div><!-- /#testimonial-slider -->
                </div><!-- /.section-details -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </div><!-- /.pattern-overlay -->
</section><!-- /#testimonial -->

<!-- Testimonials Section -->



<section id="productivity" class="portfolio text-center">
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="section-top wow animated fadeInUp" data-wow-delay=".5s">
                    <h2 class="section-title">Interchange</h2><!-- /.section-title -->
                </div><!-- /.section-top -->

                <div class="section-details">
                    <div class="post-area">
                        <div class="col-md-4">
                            <article class="type-post post wow animated fadeInUp" data-wow-delay=".35s">
                                <div class="post-thumbnail">
                                    <img src="images/slack.png" alt="post image">
                                </div><!-- /.post-thumbnail -->

                                <div class="post-content">
                                    <h4 class="entry-title"><a href="#">SLACK</a></h4><!-- /.entry-title -->
                                    <p class="entry-content">
                                        빠른 의사소통과 개발도구간의 연계
                                    </p><!-- /.entry-content -->
                                </div><!-- /.post-content -->
                            </article><!-- /.type-post -->
                        </div>

                        <div class="col-md-4">
                            <article class="type-post post wow animated fadeInUp" data-wow-delay=".55s">
                                <div class="post-thumbnail">
                                    <img src="images/drive.png" alt="post image">
                                </div><!-- /.post-thumbnail -->

                                <div class="post-content">
                                    <h4 class="entry-title"><a href="#">GOOGLE DRIVE</a></h4><!-- /.entry-title -->
                                    <p class="entry-content">
                                        우리의 소중한 세미나 자료 보관
                                    </p><!-- /.entry-content -->
                                </div><!-- /.post-content -->
                            </article><!-- /.type-post -->
                        </div>

                        <div class="col-md-4">
                            <article class="type-post post wow animated fadeInUp" data-wow-delay=".75s">
                                <div class="post-thumbnail">
                                    <img src="images/github.png" alt="post image">
                                </div><!-- /.post-thumbnail -->

                                <div class="post-content">
                                    <h4 class="entry-title"><a href="#">GITHUB</a></h4><!-- /.entry-title -->
                                    <p class="entry-content">
                                        아주 작은 규모의, 하지만 재밌는 프로젝트 진행
                                    </p><!-- /.entry-content -->
                                </div><!-- /.post-content -->
                            </article><!-- /.type-post -->
                        </div>

                    </div><!-- /.post-area -->
                </div><!-- /.section-details -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section-padding -->
</section><!-- /#blog -->
</section>



<!-- About Us Section -->
<section id="about" class="about">
    <div class="about-top">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="section-top wow">
                        <h2 class="section-title text-center">Contact</h2><!-- /.section-title -->
                    </div>

                    <div class="col-md-6">
                        <div class="know-about-us wow">
                            <h2 class="section-title"><span>다양한 분야</span>를 원합니다.</h2><!-- /.section-title -->
                            <p class="description">
                                함께 인사이트를 키워나가고 싶습니다
                            </p><!-- /.description -->
                            <div class="know-about-us wow ">
                                <h2 class="section-title"><span>다양한 사람</span>을 원합니다.</h2><!-- /.section-title -->
                                <p class="description">
                                    함께 성장하고 싶습니다
                                </p><!-- /.description -->
                            </div><!-- /.know-about-us -->
                        </div><!-- /.know-about-us -->
                    </div>
                    <div class="col-md-6">
                        <h2 class="section-title"><span>NAME&nbsp; : </span>김남훈</h2>
                        <h2 class="section-title"><span>EMAIL : </span>pangyoparty@gmail.com</h2>
                        <h2 class="section-title"><span>PHONE : </span>010 - 3901 - 6292</h2>

                    </div>


                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </div><!-- /.about-top -->

</section><!-- /#about -->

<!-- About Us Section -->







<!-- Footer Section -->

<footer id="colophon" class="footer site-footer" role="contentinfo">

    <div class="footer-bottom">
        <div class="container">

            <div class="copy-right text-center"></div>

        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
</footer><!-- /#colophon -->

<!-- Footer Section -->



<div id="scroll-to-top" class="scroll-to-top">
    <span>
      <i class="fa fa-chevron-up"></i>
    </span>
</div><!-- /#scroll-to-top -->