<div id="why">
    <div class="container-full">
        <div class="container">
            <div class="row bm-remove animate" data-anim-type="fadeInRight">
                <div class="col-md-6">
                    <div class="modern">
                        <h2>Flat & Modern transparent</h2>
                        <p>flat inspired UI with some modern transparent Element</p>
                        <p>En se réveillant un matin après des rêves agités, Gregor Samsa se retrouva, dans son lit, métamorphosé en un monstrueux insecte. </p>
                        <hr />
                        <div class="list_item">
                            <ul>
                                <li><i class="fa fa-check"></i><a href="#">16Psd Files Easy to Edite</a></li>
                                <li><i class="fa fa-check"></i><a href="#">All Font used Link Included</a></li>
                                <li><i class="fa fa-check"></i><a href="#">16Psd Files Easy to Edite</a></li>
                                <li><i class="fa fa-check"></i><a href="#">All Font used Link Included</a></li>
                            </ul>
                        </div>
                        <h1>Get Now Your Copy <b>FREE</b></h1>
                        <a href="#about" class="btn btn-green">Download Now</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="phone">
                        <img src="img/phone_2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>