<section id="portfolio">
    <div class="container-full">
        <div class="container">
            <div class="row bm-remove animate" data-anim-type="zoomInUp">
                <h2 class="section-title">Our Portfolio</h2>
                <h3 class="section-subtitle">Choose From Our Portfolio</h3>
                <hr />

                <div class="work-mig">
                    <ul>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img1.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img1.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img2.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img2.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img3.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img3.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img4.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img4.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img5.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img5.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img6.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img6.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img7.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img7.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img8.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img8.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4 col-sm-6 col-lg-4">
                            <figure>
                                <img src="img/portfolio/work_img9.jpg" alt="work">
                                <figcaption>
                                    <div class="border">
                                        <h4>One morning, when Gregor Samsa woke from troubled in </h4>
                                        <a href="img/portfolio/work_img9.jpg" data-lightbox="example-1"><i class="fa fa fa-link"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>