<section id="promotion">
    <div class="container-full">
        <div class="container">
            <div class="bm-remove animate" data-anim-type="zoomInUp">
                <div class="col-md-6">
                    <div class="promotion_content " data-anim-type="fadeInLeft">
                        <h1>Video Promotional on vimeo</h1>
                        <h4>Simple & Elegant User Interface</h4>
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he himself transformed in bed into a horrible vermin. He  his armour-back.</p>
                        <a class="btn btn-green" href="#">Moredetail</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ifarem embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" width="520" height="345"
                                src="http://www.youtube.com/embed/XGSy3_Czz8k">
                        </iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>