---
layout: default
---

<section id="main-slider" class="main-slider text-center">
    <div class="" style="color: #ffffff;background-image:url('/images/slider/1.jpg')">
        <div class="" style="text-align:left; min-height:800px">
            <div class="slide-inner container" style="padding-top:10%;">
                <h2 class="slider-title">
                  {{ page.title }}
                </h2>
                <p class="slide-description">
                  {{ page.description }}
                </p>
                <div class="slide-btn-container">
                  {{ content }}
                </div><!-- /.slide-btn-container -->
            </div><!-- /.slide-inner -->
        </div><!-- /.slider-text -->
    </div><!-- /.head-overlay -->
</section><!-- /#main-slider -->



<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $("#masthead").removeClass();
    $("#masthead").addClass("masthead navbar navbar-default navbar-fixed-top bg-fixed");

  });
</script>
