---
layout: default
---

<section id="main-slider" class="main-slider text-center">
    <div class="">
        <div class="">
            <img src="images/slider/1.jpg"/>
        </div><!-- /.head-overlay -->
        <div class="slider-text" style="text-align:left">
            <div class="slide-inner" style="padding-top:10%">
                <h2 class="slider-title">
                  {{ page.title }}
                </h2>
                <p class="slide-description">
                  {{ page.description }}
                </p>
                <div class="slide-btn-container">
                    {{ content }}
                </div><!-- /.slide-btn-container -->
            </div><!-- /.slide-inner -->
        </div><!-- /.slider-text -->
    </div><!-- /.head-overlay -->
</section><!-- /#main-slider -->
